span.js-room-id data-room-id=@room.id

h1 = @room.name

h2 = t('.users')
- @room.users.each do |user|
  = link_to user.name, user, class: 'js-user-link'

.clear

.js-room-questions
  = render 'room_questions', room: @room
