@import "mixins";

.jumbotron {
  position: relative;
  padding-top: 64px;
  background: rgb(238, 238, 238) asset-url("banner.jpg", image);
  background-size: cover;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);

  text-align: center;

  h1 {
    text-transform: uppercase;
    font-size: 80px;
  }

}

a {
}

.btn-play {
  $bg: rgb(255, 118, 51);

  display: block;
  margin: 1em auto 0;
  width: 300px;
  height: 100px;
  line-height: 100px;

  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  font-variant: small-caps;

  background: $bg;
  border: 1px solid darken($bg, 20%);
  @include borderRadius(10px);
  @include boxShadow(0 1px 3px rgba(0, 0, 0, 0.8));

  &:hover {
    background: darken($bg, 10%);
    color: white;
  }
  &:active {
    @include boxShadow(none);
  }
}

.languages {
  position: absolute;
  top: 8px;
  right: 8px;
}
.languages-list {
  list-style: none;
  line-height: 0;
  margin: 0;
  padding: 0;

  @mixin lang($lng) {
    &.#{$lng} {
      background: asset-url("flags/#{$lng}.png", image) no-repeat;
    }
  }

  li {
    display: inline-block;
    margin: 0 8px;
  }
  i {
    display: block;
    width: 69px;
    height: 46px;
    @include lang(us);
    @include lang(ru);
  }
  span {
    display: none;
  }
}

.authbox {
  position: absolute;
  top: 64px;
  right: 8px;
  width: 170px;
  text-align: center;

  .expander {
    height: 1.5em;
    overflow: hidden;
    transition: height 0.2s linear 2s;
    &:hover {
      height: 4em;
      transition-delay: 0s;
    }
  }
  p {
    margin: 0;
  }
  .login-providers {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
    }
    a {
      width: 36px;
      display: inline-block;
      font-size: 25px;
      text-align: center;
    }
  }

  a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    &:hover, &:focus {
      color: rgb(237, 237, 237);
    }
  }
  a.icon {
    text-decoration: none;
  }
}
