.room-chat {
  height: 500px;
  overflow-y: scroll;

  .system-message {
    color:  #999999;
  }
}

.room-name {
  margin: 0;

  small {
    white-space: nowrap;
  }
}

.current-question {
  h3 {
    margin-top: 10px;
  }
}

.nickname-color-1 {
  color: #45c7c1;
}
.nickname-color-2 {
  color: #ff9878;
}
.nickname-color-3 {
  color: #6fca7c;
}
.nickname-color-4 {
  color: #b190f5;
}
.nickname-color-5 {
  color: #ffdaa7;
}
