.room-chat {
  height: 500px;
  overflow-y: scroll;
}

.nickname-color-1 {
  color: #45c7c1;
}
.nickname-color-2 {
  color: #ff9878;
}
.nickname-color-3 {
  color: #6fca7c;
}
.nickname-color-4 {
  color: #b190f5;
}
.nickname-color-5 {
  color: #ffdaa7;
}
