.user-profile {
  min-width: 600px;
}
.user-profile-avatar-block {
  float: left;
}
.user-avatar {
  max-width: 64px;
  max-height: 64px;
}
.user-profile-info {
  margin-left: 80px;
}
.user-profile-name {
  font-weight: 700;
}
